.description {
    font-family: 'Roboto Mono', monospace;
    position: absolute; 
    left: 1320px;
    right: 10px; 
    font-size: 13px; 
}

#colorPicker {
    top: 100px; 
}

#thickPicker {
    top: 175px; 
}

#upperMountainDescription {
    top: 260px;    
}

#firstCloudUpper {
    top: 350px; 
}

#firstCloudLower {
    top: 440px; 
}

#lowerMountainDescription {
    top: 563px; 
}

#firstfreeFunctionUpper {
    top: 700px; 
}

#firstfreeFunctionLower {
    top: 755px; 
}

#inputMountain {
    position: absolute; 
    z-index: 900;
    border-width: 2px; 
    box-shadow: 2px; 
    left: 1320px;
    top: 690px; 
}

#inputunderCloud {
    position: absolute; 
    z-index: 900;
    border-width: 2px; 
    box-shadow: 2px; 
    left: 1320px;
    top: 550px; 

}


#strokeColor {
    position: absolute;
    z-index: 900;
    border-width: 2px; 
    box-shadow: 2px; 
    left: 1320px;
    top: 160px; 
}

#strokeWidth {
    position: absolute;;
    z-index: 901;
    border-width: 2px;
    left: 1320px;
    top: 250px; 
}

#can {
    position: absolute;
    z-index: 500; 
    left: 30px;
    border: 2px solid black; 
}
#Logo {
    position: absolute;
    left: 1300px;  
    height: 100px;
}

#myCanvas {
    position: relative;
    left: 30px; 
    top: 50px; 
    z-index: 100;
    box-shadow: 2px; 
}

#canvas4 {
    position: absolute;
    left: 30px; 
    top: 650px; 
    z-index: 100;
    box-shadow: 2px; 
}

#inputField {
    position: absolute;
    z-index: 700;
    border-width: 2px;
    left: 1320px;
    top: 335px; 
}

#inputFieldCloud {
    position: absolute; 
    z-index: 800;
    border-width: 2px;
    left: 1320px;
    top: 425px; 
}

#underCloud2 {
    position: absolute; 
    z-index: 800;
    border-width: 2px;
    left: 1320px;
    top: 880px; 
}

#upperCloud2 {
    position: absolute; 
    z-index: 800;
    border-width: 2px;
    left: 1320px;
    top: 740px; 
}

#cloudCanvas {
    position: absolute;
    left: 50px;
    top: 10px; 
    z-index: 101;
}
#canvas5 {
    position: absolute;
    left: 600px;
    top: 20px; 
    z-index: 103; 
}

#canvas6 {
    position: absolute;
    left: 600px;
    top: 70px; 
    z-index: 103; 
}

#derivativeCloudCanvas {
    position: absolute;
    left: 50px;
    top: 50px; 
    z-index: 101;    
}